div{
    position: absolute;
    color: bisque;
}

.blue{
    width: 400px;
    height: 200px;
    background: blueviolet;
    z-index: 1;
}

.red{
    width: 300px;
    height: 500px;
    background: red;
    z-index: 4;
}
.yellow{
    width: 3500px;
    height: 450px;
    background: yellowgreen;
    z-index: 6;
}